In [4]:
#1
number = int(input('enter your number :'))

fact= 1

if number<0 :
  print('factorial is not defined for negative numbers')
elif number == 0:
  print(f'the facturial {number} is 1')
else :
  for i in range(1,number+1):
    fact*=i
  print(f'the factorial of {number} is {fact}')

enter your number :7
the factorial of 7 is 5040

In [5]:
#2

number = int(input('enter your number :'))

for i in range(1,11):
  rel=number*i

  print(f'{number}*{i}={rel}')

enter your number :9
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90

In [3]:
#3
fibonacci_seq = [0, 1]

n = int(input("Enter the range for Fibonacci sequence: "))


for i in range(2, n):
    next_fibonacci = fibonacci_seq[-1] + fibonacci_seq[-2]
    fibonacci_seq.append(next_fibonacci)

print(fibonacci_seq)

Enter the number of terms in the Fibonacci sequence: 6
[0, 1, 1, 2, 3, 5]

In [8]:
#4
n= str(input('enter your number '))
sum =0

for i in n:
  sum = sum + int(i)**len(n)

if int(n)== sum :
  print(f'{n} is a armstrong number ')
else :
  print(f'{n} is not a armstrong number')

enter your number 407
407 is a armstrong number

In [21]:
#5
a= int(input('enter your low value interval: '))
b= int(input('enter your upper value interval: '))

sum=0

l1=[]
l2=[]

sum=0


for n in range(a,b+1):
  sum=0

  for i in str(n):
    sum = sum + int(i)**len(str(n))

  if n == sum :
    l1.append(n)

  else :
    l2.append(n)


print('list of armstrong number is  ',l1)
print('list of non armstrong number is  ',l2)

enter your low value interval: 1630
enter your upper value interval: 1637
list of armstrong number is   [1634]
list of non armstrong number is   [1630, 1631, 1632, 1633, 1635, 1636, 1637]

In [29]:
#6
def ast():
  a= int(input('enter your low value interval: '))
  b= int(input('enter your upper value interval: '))

  sum=0

  l1=[]
  l2=[]

  sum=0


  for n in range(a,b+1):
    sum=0

    for i in str(n):
      sum = sum + int(i)**len(str(n))

    if n == sum :
      l1.append(n)

    else :
      l2.append(n)

  return ('list of armstrong number is  ',l1),('list of non armstrong number is  ',l2)

In [31]:
ast()

enter your low value interval: 405
enter your upper value interval: 407

(('list of armstrong number is  ', [407]),
 ('list of non armstrong number is  ', [405, 406]))

In [46]:
def sum_nat():
  a= int(input('enter your low value interval: '))
  b=int(input('enter your upper value interval: '))

  if a>0 :
    x=a
    y=0
    while x <b+1:
      y=x+y
      x=x+1

    return y
  else :
    return 'its not a natural number'

In [48]:
sum_nat()

enter your low value interval: 0
enter your upper value interval: 19

'its not a natural number'